<!-- Bottom navigation -->
<footer class="footer fixed-bottom py-3 bg-white" id="nav-bottom">
  <div class="container d-flex justify-content-around">
    <a href="{% url 'app' %}" class="nav-link">
      <i class="fas fa-home fa-xl"></i>
    </a>
    <a href="{% url 'saved' %}" class="nav-link">
      <i class="fas fa-bookmark fa-xl"></i>
    </a>
    <a href="{% url 'cart' %}" class="nav-link">
      <i class="fas fa-shopping-cart fa-xl"></i>
    </a>
    <a href="{% url 'profile' %}" class="nav-link">
      <i class="fas fa-user fa-xl"></i>
    </a>
  </div>
</footer>