{% extends 'base.html' %}
{% load static %}

{% block title %}Chat | Therapst AI{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
{% include 'includes/navbar.html' %}

<main>
    <div class="container mt-5">
        <h3>Complete Your Profile</h3>

        <form method="post">
        {% csrf_token %}
    
            <!-- Brand Preferences -->
            <div id="step-1" class="step mb-5">
                <div class="mb-3">
                    <label for="brand_preferences" class="form-label">Brand Preferences</label>
                    <div id="brand_preferences" class="d-flex flex-wrap">
                        <!-- Nike -->
                        <div class="form-check m-2">
                            <input type="checkbox" id="brand_nike" name="brand_preferences" value="Nike" class="form-check-input visually-hidden">
                            <label for="brand_nike" class="brand-logo">
                                <img src="{% static 'img/brands/nike.webp' %}" alt="Nike" class="img-thumbnail" width="100">
                            </label>
                        </div>
                        <!-- Adidas -->
                        <div class="form-check m-2">
                            <input type="checkbox" id="brand_adidas" name="brand_preferences" value="Adidas" class="form-check-input visually-hidden">
                            <label for="brand_adidas" class="brand-logo">
                                <img src="{% static 'img/brands/adidas.webp' %}" alt="Adidas" class="img-thumbnail" width="100">
                            </label>
                        </div>
                        <!-- Puma -->
                        <div class="form-check m-2">
                            <input type="checkbox" id="brand_puma" name="brand_preferences" value="Puma" class="form-check-input visually-hidden">
                            <label for="brand_puma" class="brand-logo">
                                <img src="{% static 'img/brands/puma.webp' %}" alt="Puma" class="img-thumbnail" width="100">
                            </label>
                        </div>
                        <!-- Allen Solly -->
                        <div class="form-check m-2">
                            <input type="checkbox" id="brand_allen_solly" name="brand_preferences" value="Allen Solly" class="form-check-input visually-hidden">
                            <label for="brand_allen_solly" class="brand-logo">
                                <img src="{% static 'img/brands/allen-solly.webp' %}" alt="Allen Solly" class="img-thumbnail" width="100">
                            </label>
                        </div>
                        <!-- American Eagle -->
                        <div class="form-check m-2">
                            <input type="checkbox" id="brand_american_eagle" name="brand_preferences" value="American Eagle" class="form-check-input visually-hidden">
                            <label for="brand_american_eagle" class="brand-logo">
                                <img src="{% static 'img/brands/american-eagle.webp' %}" alt="American Eagle" class="img-thumbnail" width="100">
                            </label>
                        </div>
                        <!-- Biba -->
                        <div class="form-check m-2">
                            <input type="checkbox" id="brand_biba" name="brand_preferences" value="Biba" class="form-check-input visually-hidden">
                            <label for="brand_biba" class="brand-logo">
                                <img src="{% static 'img/brands/biba.webp' %}" alt="Biba" class="img-thumbnail" width="100">
                            </label>
                        </div>
                        <!-- GAP -->
                        <div class="form-check m-2">
                            <input type="checkbox" id="brand_gap" name="brand_preferences" value="Gap" class="form-check-input visually-hidden">
                            <label for="brand_gap" class="brand-logo">
                                <img src="{% static 'img/brands/gap.webp' %}" alt="Gap" class="img-thumbnail" width="100">
                            </label>
                        </div>
                        <!-- H&M -->
                        <div class="form-check m-2">
                            <input type="checkbox" id="brand_hm" name="brand_preferences" value="H&M" class="form-check-input visually-hidden">
                            <label for="brand_hm" class="brand-logo">
                                <img src="{% static 'img/brands/h&m.webp' %}" alt="H&M" class="img-thumbnail" width="100">
                            </label>
                        </div>
                        <!-- Levi's -->
                        <div class="form-check m-2">
                            <input type="checkbox" id="brand_levi" name="brand_preferences" value="Levi's" class="form-check-input visually-hidden">
                            <label for="brand_levi" class="brand-logo">
                                <img src="{% static 'img/brands/levi\'s.webp' %}" alt="Levi's" class="img-thumbnail" width="100">
                            </label>
                        </div>
                        <!-- Raymond -->
                        <div class="form-check m-2">
                            <input type="checkbox" id="brand_raymond" name="brand_preferences" value="Raymond" class="form-check-input visually-hidden">
                            <label for="brand_raymond" class="brand-logo">
                                <img src="{% static 'img/brands/raymond.webp' %}" alt="Raymond" class="img-thumbnail" width="100">
                            </label>
                        </div>
                        <!-- UNIZLO -->
                        <div class="form-check m-2">
                            <input type="checkbox" id="brand_unizlo" name="brand_preferences" value="UNIZLO" class="form-check-input visually-hidden">
                            <label for="brand_unizlo" class="brand-logo">
                                <img src="{% static 'img/brands/unizlo.webp' %}" alt="UNIZLO" class="img-thumbnail" width="100">
                            </label>
                        </div>
                        <!-- Zara -->
                        <div class="form-check m-2">
                            <input type="checkbox" id="brand_zara" name="brand_preferences" value="Zara" class="form-check-input visually-hidden">
                            <label for="brand_zara" class="brand-logo">
                                <img src="{% static 'img/brands/zara.webp' %}" alt="Zara" class="img-thumbnail" width="100">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="d-grid">
                    <button type="button" class="btn btn-primary" onclick="nextStep()">Next</button>
                </div>
            </div>

            <!-- Price Range -->
            <div id="step-2" class="d-none step mb-5">
                <div class="mb-3">
                    <label for="price_range" class="form-label">Price Range: 
                    $0 - <span id="priceOutput">$500</span>
                    </label>
                    <input type="range" id="price_range" name="price_range" 
                            min="50" max="5000" step="50" 
                            value="500" 
                            class="form-range mb-2" 
                            oninput="updatePriceOutput(this.value)">
                </div>
                <div class="d-grid">
                    <button type="button" class="btn btn-primary" onclick="nextStep()">Next</button>
                </div>
            </div>
    
            <!-- Measurements -->
            <div id="step-3" class="d-none step mb-5">
                <div class="mb-3">
                    <label for="measurements" class="form-label">Measurements</label>
                    <label for="measurements" class="form-label">Measurements</label>
                    <div>
                        <!-- Chest -->
                        <div class="mb-2">
                            <label for="measurement_chest" class="form-label">Chest</label>
                            <select id="measurement_chest" name="measurements[chest]" class="form-select">
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                            </select>
                        </div>
                        <!-- Waist -->
                        <div class="mb-2">
                            <label for="measurement_waist" class="form-label">Waist</label>
                            <select id="measurement_waist" name="measurements[waist]" class="form-select">
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                            </select>
                        </div>
                        <!-- Hips -->
                        <div class="mb-2">
                            <label for="measurement_hips" class="form-label">Hips</label>
                            <select id="measurement_hips" name="measurements[hips]" class="form-select">
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                            </select>
                        </div>
                        <!-- Shoulders -->
                        <div class="mb-2">
                            <label for="measurement_shoulders" class="form-label">Shoulders</label>
                            <select id="measurement_shoulders" name="measurements[shoulders]" class="form-select">
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                            </select>
                        </div>
                        <!-- Legs -->
                        <div class="mb-2">
                            <label for="measurement_legs" class="form-label">Legs</label>
                            <select id="measurement_legs" name="measurements[legs]" class="form-select">
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                            </select>
                        </div>
                        <!-- Preference Slider -->
                        <div class="mb-2">
                            <label for="preference" class="form-label">My Preference (Tight to Oversized): </label>
                            <span id="preferenceOutput">Regular</span> <!-- Display the current value -->
                            <input type="range" id="preference" name="preference" min="1" max="5" step="1" class="form-range" oninput="updatePreferenceOutput(this.value)">
                        </div>
                    </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>  
        </form>  
    </div>
</main>

{% endblock %}

{% block javascript %}
<script>
  function updatePriceOutput(value) {
    document.getElementById('priceOutput').innerText = `$${value}`;
  }

  function updatePreferenceOutput(value) {
    if (value == 1) {
        document.getElementById('preferenceOutput').innerText = 'Tight';
    } else if (value == 2) {
        document.getElementById('preferenceOutput').innerText = 'Slim';
    } else if (value == 3) {
        document.getElementById('preferenceOutput').innerText = 'Regular';
    } else if (value == 4) {
        document.getElementById('preferenceOutput').innerText = 'Loose';
    } else if (value == 5) {
        document.getElementById('preferenceOutput').innerText = 'Oversized';
    }
  }

  // Toggle Steps
  function nextStep() {
    // Get current step element
    let currentStep = document.querySelector('.step:not([style*="display: none"])');
    
    // Hide current step
    currentStep.style.display = 'none';
    
    // Show next step
    let nextStep = currentStep.nextElementSibling;
    if (nextStep) {
        nextStep.classList.remove('d-none');
    }
}
</script>
{% endblock %}